[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-bad-whitespace"]
	path = vim/bundle/vim-bad-whitespace
	url = https://github.com/bitc/vim-bad-whitespace.git
[submodule "vim/bundle/powerline"]
	path = vim/bundle/powerline
	url = https://github.com/powerline/powerline.git
[submodule "vim/bundle/fzf"]
	path = vim/bundle/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "vim/bundle/fzf.vim"]
	path = vim/bundle/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
